<table class="table table-hover">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">puntos del Equipo</th>
      <th scope="col">Goles a Favor</th>
      <th scope="col">Goles Encontra</th>
      <th scope="col">Diferencia de Goles</th>
      <th scope="col">Partidos Jugados</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>