<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apock web design</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14046.jpg" alt="img-avatar">
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>
                <button type="button" class="boton-portada">
                    <i class="far fa-image"></i> Cambiar fondo
                </button>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Maria Alejandra De la Cruz</h3>
                <p  class="texto">Perfil de Usuario.</p>
            </div>

            <div class="perfil-usuario-footer">

                <ul class="lista-datos">

                    <!-- para desactivar se puede usar disabled-->
                    <li><i  class="icono fas fa-map-signs"></i> Nombre:  <input type="text" disabled name="nombre" size="20"></li>
                    <li><i class="icono fas fa-phone-alt"></i> Usuario:  <input type="text" disabled name="nombre" size="10"></li>
                    <li><i class="icono fas fa-briefcase"></i> Correo: <input type="email" disabled name="nombre" size="20"></li>
                    <li><i class="icono fas fa-building"></i> Contraseña: <input type="password" disabled name="nombre" size="40"></li>

                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-primary" type="button" style='width:100px; height:35px; margin: 10px'>Editar Pefil</button>
                            <button class="btn btn-primary" type="button" style='width:150px; height:35px'>Eliminar Perfil</button>
                          </div>

                </ul>


            </div>

        </div>
    </section>


</body>

</html>
