<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-5">
        <!-- <form (ngSubmit)="registrar()"> -->
          <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre"
            name="nombre" #nombre="ngModel" [(ngModel)]="usuarioModel.nombre">
          </div>
          <div class="mb-3">
            <label for="inputUsuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="inputUsuario"
            name="username" #username="ngModel" [(ngModel)]="usuarioModel.username">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1"
            name="email" #email="ngModel" [(ngModel)]="usuarioModel.email">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
            name="password" #password="ngModel" [(ngModel)]="usuarioModel.password">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Rol</label>
            <input type="text" class="form-control" id="exampleInputRol"
            name="rol" #rol="ngModel" [(ngModel)]="usuarioModel.rol">
          </div>
          <button type="submit" class="btn btn-primary" (click)="registrar()">Registrar</button>
        </form>
      </div>
    </div>
  </div>

