
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarLiga">
          Agregar ligas
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <tr *ngFor="let lig of ligasList">
      <div class="card mb-3">
        <div class="card-header">s
          {{ lig.nombre }}
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditarUsuario"
          (click)="obtenerLigasID(lig._id)">Editar</button>
          <div class="dropdown">
            <button style="float: right" type="button" class="btn btn-light btn-sm" id="dropdownSettings"
            data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownSettings">
              <li><a class="dropdown-item">Editar</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalEliminarLiga"
                (click)="obtenerLigasID(lig._id)">Eliminar</a></li>
            </ul>
          </div>


        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Publicado por: <cite title="Source Title">{{ lig.autor }}</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>


<!-- Modal Agregar Ligas -->
<div class="modal fade" id="modalAgregarLiga" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Liga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNombreLiga" class="form-label">Nombre Liga</label>
            <input type="text" class="form-control" id="inputNombreLiga" name="nombreLiga" #nombreLiga="ngModel"
            [(ngModel)]="ligasIDModel.nombre">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
        (click)="agregarLigas()">Agregar Liga</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Ligas -->
<div class="modal fade" id="modalEditarLiga" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Liga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre Liga</label>
            <input type="text" class="form-control" id="inputNombre" name="nombreLiga" #nombreLiga="ngModel"
            [(ngModel)]="ligasIDModel.nombre">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
        (click)="editarLigas()">Editar Liga</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Eliminar Ligas -->
<div class="modal fade" id="modalEliminarLiga" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Ligas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de eliminar la liga: {{ ligasIDModel.nombre }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
        (click)="eliminarLigas(ligasList._id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
